<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="CleanUrlToHtml" stopProcessing="true">
          <match url="^([a-zA-Z0-9_-]+)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>
        <rule name="LeadMarketingToCRM" stopProcessing="true">
          <match url="^api/contacto$" />
          <action type="Rewrite" url="http://127.0.0.1:8447/api/crm/contacto" />
        </rule>
        <rule name="SocketIOProxy" stopProcessing="true">
          <match url="^socket\.io/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8447/socket.io/{R:1}" />
        </rule>
        <rule name="VacantesToAgydaBackend" stopProcessing="true">
          <match url="^api/vacantes(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8447/api/vacantes{R:1}" />
        </rule>
        <rule name="VacanteCvUploadToAgydaBackend" stopProcessing="true">
          <match url="^api/uploads/vacante-cv$" />
          <action type="Rewrite" url="http://127.0.0.1:8447/api/uploads/vacante-cv" />
        </rule>
        <rule name="ReverseProxyToAgydaAPI" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8447/api/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
